
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        background-color: white;
        display: flex;
        flex-direction: row;
    }

    .createacount {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 20px;
    }
    .right {
               display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px;
 
    }

    .h2 {
        display: flex;
        align-items: center;
        font-size: 24px;
        margin-bottom: 10px;
        gap: 10px;
    }

    p {
        font-size: 14px;
        margin-bottom: 30px;
        color: gray;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .form input {
        padding: 12px;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        font-size: 14px;
    }

    .btn-primary {
        background: #4c46ff;
        color: white;
        padding: 12px;
        margin-top: 15px;
        border-radius: 6px;
        font-size: 16px;
        border: 1px solid #4c46ff;
    }

    .google {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        padding: 12px;
        border-radius: 6px;
        gap: 10px;
        background: #fff;
        border: 1px solid #d9d9d9;
    }

    .login-link {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }

    .login-link a {
        color: #4c46ff;
        text-decoration: none;
    }